@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,400&display=swap');

* {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: Raleway, sans-serif;
	margin: 0;
	background-color: white;
}

.backgroundImage {
	margin: 0;
	background-size: 1920px 1080px;
	background-repeat: no-repeat;
	background-image: url('https://raw.githubusercontent.com/dev-caelo/mangoLanding/master/images/mangoLandingImage copy.png');
	width: 100vw;
	height: 1080px;
}

.mainSection {
	width: 100vw;
	max-width: 100%;
	height: 80vh;
	justify-content: center;
	text-align: center;
}

img.logoImage {
	width: 625px;
	height: auto;
	display: block;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

h1.logoImage {
	margin: 10px;
	font-weight: 900;
	font-size: 80px;
}

p.logoImage {
	margin: 0;
	font-style: italic;
	font-size: 50px;
}

header.blank {
	width: 100%;
	height: 250px;
}

#missionSection {
	width: 100%;
	height: 2000px;
}

.mission {
	width: 100%;
	height: auto;
	text-align: center;
}

div.missionBackground {
	display: flex;
	column-count: 3;
	column-width: 358px;
	column-gap: 42px;
	width: 1225px;
	height: 1300px;
	margin-left: auto;
	margin-right: auto;
	background-size: 1225px 1300px;
	background-repeat: no-repeat;
	background-image: url('https://raw.githubusercontent.com/dev-caelo/mangoLanding/master/images/blocks%20and%20background%20details.png');
}

.missionBackground:after {
	content: "";
	display: table;
	clear: both;
}

div.missionLeft {
	float: left;
	width: 358px;
	height: 500px;
	margin-left: 16px;
	margin-right: 58px;
}

p.boldtext {
	padding-top: 225px;
	font-weight: 600;
	font-size: 25px;
}

p.sidebody {
	font-size: 20px;
	font-weight: 200;
	line-height: 35px;
	padding: 15px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 25px;
}

div.missionMid {
	padding-top: 0px;
	width: 373px;
	height: 50px;
	margin-right: 40px;
}

div.missionRight {
	width: 388px;
	padding-right: 30px;
}

h1.missionTextTOP {
	text-align: left;
	font-weight: 900;
	font-size: 65px;
	margin-bottom: 88px;
}

img.scrollImage {
	margin-top: 75px;
	width: 75px;
	height: 75px;
}

.teamSection {
	width: 100%;
	height: 2000px;
}

.team {
	width: 100%;
	height: auto;
	text-align: center;
}

div.teamImage {
	column-count: 3;
	column-width: 358px;
	column-gap: 42px;
	display: flex;
	width: 1025px;
	height: 1500px;
	margin-left: auto;
	margin-right: auto;
	background-size: 1025px 1500px;
	background-repeat: no-repeat;
	background-image: url('https://raw.githubusercontent.com/dev-caelo/mangoLanding/master/images/teamImage.png');
}

.teamImage:after {
	content: "";
	display: table;
	clear: both;
}

.teamLeft {
	width: 550px;
	height: 1500px;

}

div.teamJin {
	width: 300px;
	height: 800px;
}

h1.teamJin {
	float: left;
	padding-top: 370px;
	font-size: 33px;
	font-weight: 700;
}
