@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
	list-style: none;
}

html {
	scroll-behavior: smooth;
	max-width: 100%;
	overflow-x: hidden;
}

div.pageWrapper {
	width: 100vw;
	height: 56.25vw;
}

/* - - Background - - */

div.backgroundImage {
	width: 100%;
	height: 120%;

	background-image: url("images/mangoLandingImage copy.png");
	background-size: 120% 100%;
	background-repeat: no-repeat;
}

/* - - Header CSS - - */

.navHead {
  width: 100%;
  height: 3vw;
  float: right;
  min-width: 345px;
}

ul.topList {
  width: 80%;
  height: 3vw;
  margin-top: 1.5vw;
  display: flex;
  float: right;
  justify-content: flex-end;
}

a.hubDrop, div.matDrop, div.suppDrop {
  font-size: 1.31vw;
  font-weight: 300;
  text-decoration: none;
  color: black;
  float: right;
  margin-right: 4.6875vw;
  position: relative;
  display: inline-block;
}

a.hubDrop:hover, div.matDrop:hover, div.suppDrop:hover, a.hubDr {
  text-decoration: underline;
  color: white;
}

.matDropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 13.35vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.matDrop:hover .matDropContent, .matDrop:active .matDropContent {
  display: block;
}

div.appWrapper, div.scholarWrapper, div.compWrapper {
  padding-top: 0.9vw;
  padding-bottom: 0.9vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.appWrapper:hover, div.scholarWrapper:hover, div.compWrapper:hover {
  background-color: #E1D7C4;

  transition-duration: 0.4s;
}

.suppDropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 6vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.suppDropContent a {
	font-size: 1vw;
	font-weight: 300;
}

.matDropContent a {
	font-size: 1.26vw;
	font-weight: 300;
}

.suppDrop:hover .suppDropContent, .suppDrop:active .suppDropContent {
  display: block;
}

ul a {
	color: black;
	text-decoration: none;
}

/* - - Logo Image and Text - - */

div.logoWrapper {
	width: 100%;
	height: 90%;

	padding-top: 9vw;
}

div.logoImage {
	width: 38vw;
	height: 24vw;

	background-image: url("images/mangoLogo copy.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
}

div.logoText h1 {
	font-size: 3.8vw;
	font-weight: 900;

	letter-spacing: 0.3125vw;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	text-align: center;
}

div.logoText p {
	font-size: 2.1vw;
	font-style: italic;

	text-align: center;
}

/* - - Info and Mission - - */

div.missionBackground {
	width: 63vw;
	height: 65vw;

	background-image: url("images/missionBackground.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
	margin-top: 10.417vw;
	margin-bottom: 1vw;

	display: flex;
}

div.infoMissionLeft {
	width: 30%;
	height: 100%;

	float: left;

	margin-top: 12.5vw;
}

div.infoMissionLeft h1, div.infoMissionLeft p {
	margin-left: 1.718vw;
	margin-right: 1.042vw;
}

div.infoMissionMid {
	width: 30%;
	height: 100%;

	margin-left: auto;
	margin-right: auto;
}

div.infoMissionMid h1, div.infoMissionMid p {
	margin-left: 1.2vw;
	margin-right: 1.042vw;
	margin-bottom: 2.6042vw;
}

div.infoMissionRight {
	width: 30%;
	height: 100%;

	float: right;

	margin-top: 12.5vw;
}

div.infoMissionRight h1, div.infoMissionRight p {
	margin-left: 0.52vw;
	margin-right: 2.865vw
}

div.missionBackground h1 {
	font-size: 1.3vw;
	text-align: center;

	margin-bottom: 2vw;
}

div.missionBackground p {
	font-size: 1.1vw;
	font-weight: 200;
	text-align: center;
	line-height: 1.7vw;
}

div.infoMissionMid h1.missionTitle {
	font-size: 3.3vw;
	font-weight: 900;
	text-align: left;

	margin-bottom: 17.5vw;
}

/* - - Scroll Button - - */

div.scrollWrapper {
	width: 100%;
	height: 7%;
}

a.scrollButton, div.scrollButton {
	width: 4vw;
	height: 100%;

	background-image: url("images/arrow1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
}

div.scrollButton:hover {
	background-image: url("images/arrow2.png");
	transition-duration: 0.5s;
}

/* - - Team Section - - */

div.teamBackground {
	width: 65vw;
	height: 78.125vw;

	background-image: url("images/teamBackground.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	margin-left: auto;
	margin-right: auto;
	margin-top: 7.8vw;
	margin-bottom: 15vw;
}

div.teamLeft {
	width: 50%;
	height: 100%;

	float: left;
}

div.teamRight {
	width: 50%;
	height: 100%;

	float: right;
}

p.bold {
	font-weight: 700;
}

/* teamJin */

div.textJin {
	width: 65%;
	height: 50%;
	float: right;

	margin-right: 9vw;
	margin-top: 20.5vw;
}

div.textJin h1 {
	font-size: 2.15vw;

	margin-bottom: 1vw;
	padding-left: 1.56vw;
}

div.textJin p {
	font-size: 1vw;

	text-align: right;
	line-height: 2vw;

	padding-right: 6.5vw;
}

p.jinBottom {
	font-size: 1vw;

	margin-top: 0.26vw;
	margin-left: 5.2vw;
}

/* teamMia */

div.textMia {
	width: 65%;
	height: 50%;
	float: right;
	text-align: right;

	padding-top: 5.73vw;
	padding-right: 2.5vw;
}

div.textMia h1 {
	font-size: 2.15vw;

	margin-bottom: .78vw;
	margin-top: .78vw;
}

div.textMia p {
	font-size: 1vw;

	line-height: 2vw;

	margin-bottom: .78vw;
}

/* teamCarlo */

div.textCarlo {
	width: 65%;
	height: 39%;
	float: left;
	text-align: left;

	padding-top: 4.4vw;
	padding-left: 10vw;
}

div.textCarlo h1 {
	font-size: 2.15vw;

	margin-bottom: .5vw;
	margin-left: 0.6vw;
}

div.textCarlo p {
	font-size: 1vw;

	line-height: 2vw;

	margin-left: 3vw;
	margin-right: 5.1vw;
	margin-bottom: 0.9vw;
}

/* teamDayo */

div.textDayo {
	width: 65%;
	height: 50%;
	float: left;
	text-align: left;

	padding-left: 15.5vw;
}

div.textDayo h1 {
	font-size: 2.15vw;

	margin-bottom: 1.5vw;
}

div.textDayo p {
	font-size: 1vw;

	line-height: 2vw;

	margin-right: 8.4vw;
}

p.dayoBottom {
	margin-top: 0.6vw;
}

/* - - Footer - - */

footer.pageFooter {
	width: 100%;
	height: 10vw;

	padding-top: 2vw;

	background-color: #D2C7B2;
}

footer.pageFooter a {
	width: 100%;
	height: 2.6vw;
}

p.aboutFooter {
	font-weight: 200;
	font-size: 1.5vw;

	text-align: center;
}

.igLOGO {
	width: 2.4vw;
	height: 2.4vw;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2vw;

	background-repeat: no-repeat;
	background-size: 2.4vw 2.4vw;
	background-image: url('images/glyph-logo_May2016.png');
}

div.infoDisclaimer {
	margin-top: 2.4vw;
	font-weight: 200;
	font-size: 0.9vw;

	text-align: center;
}
