@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

input[type='text'],
input[type='number'],
input {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  
}

header.pageHeader {
  width: 1720px;
  height: 70px;

}

.logoWrapper {
  width: 0%;
  height: 100%;
  float: left;
}

.navHead {
  width: 100%;
  height: 50px;
  float: right;
  min-width: 345px;

}

ul.topList {
  width: 80%;
  height: 50px;
  margin-top: 25px;
  display: flex;
  float: right;
  justify-content: flex-end;
}

a.hubDrop, div.matDrop, div.suppDrop {
  font-size: 22px;
  font-weight: 200;
  text-decoration: none;
  color: black;
  float: right;
  margin-right: 90px;
  position: relative;
  display: inline-block;
}

a.hubDrop:hover, div.matDrop:hover, div.suppDrop:hover {
  text-decoration: underline;
  color: white;
}

.matDropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.matDrop:hover .matDropContent {
  display: block;
}

div.appWrapper, div.scholarWrapper, div.compWrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.appWrapper:hover, div.scholarWrapper:hover, div.compWrapper:hover {
  background-color: #E1D7C4;
}

.suppDropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.suppDropContent a {
  font-size: 18px;
}

.matDropContent a {
  font-size: 21px;
}

.suppDrop:hover .suppDropContent {
  display: block;
}
