@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

.pageHeader {
	padding-top: 30px;
	width: 100vw;
	height: 10vh;
	min-height: 60px;
}

.navHead ul {
	justify-content: flex-end;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navHead a {
	font-size: 25px;
	font-weight: 200;
	color: #000000;
	text-decoration: none;
	text-align: center;
	margin-left: 40px;
	margin-right: 30px;
	padding-left: 30px;
}

.navHead a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.hubDrop {
  position: relative;
  float: left;
  display: inline-block;
}

.hubDropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 90%;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0px;
  left: 4px;
}

.hubDrop:hover .hubDropContent {
  display: block;
}

.matDrop {
  position: relative;
  display: inline-block;
}

.matDropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 79%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.matDrop:hover .matDropContent {
  display: block;
}

.suppDrop {
  position: relative;
  display: inline-block;
}

.suppDropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 58%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.suppDrop:hover .suppDropContent {
  display: block;
}