@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700,800,900&display=swap');

html {
  scroll-behavior: smooth;
}

footer.aboutFooter {
	background-color: #D2C7B2;
	width: 100vw;
	height: 10.8vw;
	text-align: center;
	padding-top: 2.4vw;
}

p.aboutFooter {
	font-weight: 200;
	font-size: 1.5vw;
}

.igLOGO {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2vw;
	background-repeat: no-repeat;
	background-size: 2.4vw 2.4vw;
	background-image: url('https://raw.githubusercontent.com/dev-caelo/mangoLanding/master/images/glyph-logo_May2016.png');
	width: 2.4vw;
	height: 2.4vw;
}

div.infoDisclaimer {
	margin-top: 3vw;
	font-weight: 200;
	font-size: 0.9vw;
}

.background {
	width: 100vw;
	max-width: 115.2vw;
	height: 150vw;

	background-image: url('images/Group 6.png');
	background-repeat: no-repeat;
	background-size: 127.2vw 168vw;
}

.topInfo {
	width: 100%;
	height: 30vw;
	padding-top: 6vw;
}

.topInfo:after {
	content: "";
  	display: table;
  	clear: both;
}

.topInfoLeft {
	width: 50%;
	height: 100%;
	float: left;
}

.topInfoLeft h1 {
	font-weight: 800;
	font-size: 5.1vw;
	margin-left: 9vw;
	margin-right: 3vw;
	margin-top: 4.8vw;
}

.topInfoRight {
	width: 50%;
	height: 100%;
	float: left;
}

.topInfoRight p {
	line-height: 3.9vw;
	font-size: 1.8vw;
	margin-top: 4.8vw;
	margin-right: 7.8vw;
	margin-left: 3.9vw;
}

div.lineMiddle {
	width: 100%;
	height: 9vw;
	margin-top: 1.2vw;
	margin-bottom: 1.2vw;
	background-image: url('images/Line.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: .12vw 9vw;
}

.subHeader h1 {
	font-size: 4.8vw;
	text-align: center;
	margin-top: 4.2vw;
}

div.infoListWrapper {
	width: 100%;
	height: 30vw;
}

div.infoListWrapper:after {
	content: "";
  	display: table;
  	clear: both;
}

.infoListWrapper .infoListElement {
	width: 25%;
	height: 100%;
	padding-top: 6vw;
	float: left;
}

.infoListWrapper .infoListElement h1 {
	font-weight: 800;
	text-align: center;
	font-size: 2.1vw;
}

.infoListWrapper .infoListElement p {
	text-align: center;
	font-size: 1.38vw;
	margin-left: 5.4vw;
	margin-right: 5.4vw;
	margin-top: 1.2vw;
}

.infoListWrapper .infoListElement a {
	text-decoration: underline;
}

.infoListWrapper .infoListElement a:hover {
	color: #FFC963;
}
