@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700,800,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
	font-family: Raleway, sans-serif;
	margin: 0;
	background-color: white;
	position: absolute;
	width: 100vw;
}


div.topBodyImage {
	width: 80vw;
	height: 35vw;

	margin-left: auto;
	margin-right: auto;
	margin-top: 9vw;
	margin-bottom: 5vw;
	

	background-image: url('images/samson-ZGjbiukp_-A-unsplash.png');
	background-repeat: no-repeat;
	background-size: 100% 125%;
}

div.topImageHeader {
	padding-top: 16%;
	text-align: center;
}

div.topImageHeader h1 {
	font-weight: 800;
	font-size: 3.5vw;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1vw;
}

div.topLine {
	width: 100%;
	height: 0.5%;

	background-image: url("images/admissionsLine.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 100%;
}

div.botImageHeader {
	text-align: center;
	padding-top: 1vw;
	padding-left: 6vw;
	padding-right: 6vw;
}

div.botImageHeader p {
	font-size: 1.5vw;
	line-height: 3vw;

	margin-left: 8%;
	margin-right: 8%;

}

div.backgroundWrapper {
	width: 100VW;
	height: 275vw;

	text-align: center;
	justify-content: center;
	display: flex;

}

div.background {
	width: 115.2vw;
	height: 155vw;

	background-image: url('images/appBackgroundBig.png');
	background-repeat: no-repeat;
	background-size: 100% 110%;

	margin-top: 4.5vw;
}

a.infoButton {
	color: #db982c;
}

a.infoButton:hover {
	color: purple;
}

div.infoHeaderLeft {
	width: 100%;
	height: 8vw;
}

div.infoHeaderLeft h1 {
	font-weight: 900;
	font-size: 3vw;
	text-align: left;

	margin-left: 10.2vw;
	margin-right: 10vw;
	margin-bottom: 1vw;
}

h1.infoHeaderTop {
	font-weight: 900;
	font-size: 4.2vw;
	text-align: center;

	margin: auto;
	padding-bottom: 4.2vw;
}

div.infoHeaderRight {
	width: 100%;
	height: 8vw;
}

div.infoHeadLineWrapper {
	width: 100%;
	height: 5vw;

	margin-bottom: 1vw;
}

div.infoHeadLineWrapper h1 {
	width: 40%;
	height: 5%;

	float: left;
}

div.infoHeadLineWrapper.right h1 {
	float: right;
}

div.infoHeadLine {
	width: 60%;
	height: 4%;
	float: right;

	background-image: url("images/admissionsLine.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	margin-top: 0.5vw;
	margin-right: 10vw;
}

div.infoHeadLine.small {
	width: 40%;

	margin-right: 13.5vw;
}

div.infoHeadLine.left {
	width: 50%;
	float: left;

	margin-right: 0;
	margin-left: 16vw;
	margin-top: 1.5vw;
}

div.infoHeaderRight h1 {
	font-weight: 900;
	font-size: 3vw;
	text-align: right;
	margin-right: 10vw;
}

div.infoBodyHead {
	font-weight: 700;
	font-size: 2.1vw;
	text-align: left;

	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 2vw;
}

div.infoBodyText {
	font-size: 1.5vw;
	text-align: left;
	line-height: 2.7vw;

	margin-left: 10vw;
	margin-bottom: 2.7vw;
	margin-right: 10vw;
	margin-top: 0.5vw;
}

div.infoBodyHeadLeft {
	font-weight: 700;
	font-size: 2.5vw;
	text-align: right;

	margin-right: 10vw;
	margin-top: 0.5vw;
}

div.infoBodyTextLeft {
	font-size: 1.5vw;
	text-align: right;

	margin-right: 10vw;
	margin-bottom: 2.7vw;
	margin-left: 19.8vw;
	margin-top: 1vw;

	line-height: 2.7vw;
}

footer.aboutFooter {
	background-color: #D2C7B2;
	width: 100vw;
	height: 10.8vw;
	text-align: center;
	padding-top: 2.4vw;
}

p.aboutFooter {
	font-weight: 200;
	font-size: 1.5vw;
}

.igLOGO {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2vw;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('../images/glyph-logo_May2016.png');
	width: 2.4vw;
	height: 2.4vw;
}

div.infoDisclaimer {
	margin-top: 3vw;
	font-weight: 200;
	font-size: 0.9vw;
}
