@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

input[type='text'],
input[type='number'],
input {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
	
}

header.topPageHeader {
	width: 100vw;
	height: 70px;
	background-color: #FCC968;
}

.bigHead {
	width: 100%;
	height: 100%;
	text-align: center;
}

.headerLogo {
	width: 300px;
	height: 50px;
	background-image: url('https://raw.githubusercontent.com/dev-caelo/mangoApp/master/images/logo.png');
	background-repeat: no-repeat;
	background-size: 300px, 50px;
	margin-top: 10px;
	margin-left: 30px;
	float: left;
}

.logoWrapper {
	width: 0%;
	height: 100%;
	float: left;
}

.navHead {
	width: 60vw;
	height: 50px;
	float: right;
	min-width: 345px;
	
}

ul.topList {
	width: 100%;
	height: 50px;
	margin-top: 25px;
	display: flex;
	float: right;
	justify-content: flex-end;

}

a.hubDrop, div.matDrop, div.suppDrop {
	font-size: 22px;
	font-weight: 200;
	text-decoration: none;
	color: black;
	float: right;
	margin-right: 50px;
	margin-left: 15px;
	position: relative;
    display: inline-block;
}

a.hubDrop:hover, div.matDrop:hover, div.suppDrop:hover {
	text-decoration: underline;
	color: white;
}

.matDropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.matDrop:hover .matDropContent {
	display: block;
}

div.appWrapper, div.scholarWrapper, div.compWrapper {
	padding-top: 15px;
	padding-bottom: 15px;
}

div.appWrapper:hover, div.scholarWrapper:hover, div.compWrapper:hover {
	background-color: #E1D7C4;
}

.suppDropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.suppDropContent a {
	font-size: 18px;
}

.matDropContent a {
	font-size: 21px;
}

.suppDrop:hover .suppDropContent {
  display: block;
}

@media( max-width: 1098px ) 
{
	.matDropContent {
		min-width: 185px;
	}

	.suppDropContent {
		max-width: 130px;
	}

	.matDrop a, .suppDrop a {
		font-size: 15px;
	}

	a.hubDrop, div.matDrop, div.suppDrop { font-size: 18px; }
}

@media( max-width: 880px )
{
	a.hubDrop, div.matDrop, div.suppDrop { 
		font-size: 17px; 
		margin: 0;
		margin-left: 40px;
		margin-right: 40px;

	}

	.logoWrapper { 
		text-align: center; 
		justify-content: center; 
		display: flex;
		width: 100%;
	}

	.headerLogo { 
		margin-left: 0;
		margin-right: 15px;
		background-size: 300px, 50px;
		width: 300px;
		height: 50px;
	}

	ul.topList { justify-content: center; }

	.navHead { 
		background-color: #FCC968;
		width: 100%;
		text-align: center;
	}

	.matDropContent {
		min-width: 174px;
	}

	.suppDropContent {
		max-width: 120px;
	}

	.matDrop a, .suppDrop a {
		font-size: 15px;
	}
}

@media( max-width: 630px )
{
	a.hubDrop, div.matDrop, div.suppDrop { margin-left: 20px; margin-right: 20px; }
}

