@import url('https://fonts.googleapis.com/css?family=Raleway:200,800&display=swap');

body {
	height: 2000px;
}

footer.aboutFooter {
	background-color: #D2C7B2;
	width: 100vw;
	height: 250px;
	text-align: center;
	padding-top: 40px;
}

p.aboutFooter {
	font-weight: 200;
	font-size: 25px;
}

.igLOGO {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-image: url('https://raw.githubusercontent.com/dev-caelo/mangoLanding/master/images/glyph-logo_May2016.png');
	width: 40px;
	height: 40px;
}

div.infoDisclaimer {
	margin-top: 30px;
	font-weight: 200;
	font-size: 13px;
}

div.infoHeader h1 {
	font-weight: 900;
	font-size: 3vw;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

div.classUI {
	width: 100vw;
	height: 2000px;
}

div.classInfo {
	width: 90%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
}

div.outputWrapper {
	width: 90%;
	height: 50%;
	background-color: #F1DAAE;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	padding-top: 5%;
}

div.classOutput {
	width: 90%;
	height: 90%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	overflow-x: scroll;
	overflow-y: scroll;
	white-space: nowrap;
}

button {
	outline: black;
}

button.classButton {
	width: 100%;
	height: 12.5%;
	background-color: #393939;
	transition-duration: 0.3s;
	border: none;
	border-color: #000000;
	color: white;
	margin-top: 5px;
}

button.classButton:hover {
	background-color: #5a5a57;
	cursor: pointer;
}

div.infoSection {
	display: none;
}

div.infoWrapper {
	width: 100%;
	height: 10%;
	align-content: flex-end;
	display: none;
}

button.miniButton {
	color: white;
	width: 25%;
	height: 100%;
	border: 0;
	
	margin-bottom: 10px;
	float: left;
	transition-duration: 0.3s;
	background-color: #393939;
}

button.miniButton:hover {
	background-color: #5a5a57;
}

button.ENGminiButton {
	width: 50%;
}

button.miniButton:hover {
	cursor: pointer;
}

div.classOutput h1 {
	display: none;
}

button.clrButton {
	display: block;
	border: none;
	width: 10%;
	height: 5%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #393939;
	color: white;
	min-width: 100px;
}

button.clrButton:hover {
	background-color: #5a5a57;
	transition-duration: 0.3s;
	cursor: pointer;
}

div.classOutput p {
	margin-bottom: 30px;
	font-size: 45px;
	font-weight: 900;
	margin-left: 70px;
	margin-top: 30px;
}

div.classOutput p a {
	margin: 0;
	font-size: 25px;
	font-weight: 300;
	margin-right: 25px;
}

div.classOutput p a:hover {
	color: #FCC968;
}

h1.botInfo {
	font-weight: 800;
	font-size: 2vw;
	text-align: center;
}

h1.botInfo.top {
	margin-top: 50px;
}

h1.botInfo.mid {
	margin-top: 25px;
}