@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');


header.botPageHeader{
	width: 100vw;
	height: 200px;
	background-color: #FCC968;
}

div.pageTitle {
	width: 100%;
	height: 45px;
	text-align: center;
	padding-top: 50px;
	background-color: #FCC968;
}

h1.pageTitle {
	font-size: 44px;
	margin-top: 10px;
	
}

div.listWrapper {
	padding-top: 50px;
	width: 100%;
	height: 50px;
	justify-content: center;

}

div.listWrapper ul {
	display: flex;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

div.listWrapper a {
	font-size: 24px;
	font-weight: 700;
	margin-left: 330px;
	margin-right: 320px;
}

div.listWrapper a:hover {
	color: white;
	text-decoration: underline;
}

@media( max-width: 1098px )
{
	div.listWrapper a {
		margin-left: 120px;
		margin-right: 120px;
	}
}

@media( max-width: 880px )
{
	div.listWrapper a {
		margin-right: 75px;
		margin-left: 75px;
	}
}

@media( max-width: 630px )
{
	div.listWrapper a {
		margin-left: 35px;
		margin-right: 35px;
	}	

	.pageTitle h1 {
		font-size: 40px;
	}
}
